<!DOCTYPE html>
<html>
<head>
    <title>The Wardrobe Closet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header><h1>The Wardrobe Closet</h1></header>
    <main>{% block content %}{% endblock %}</main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
          <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  

</body>
</html>
